* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: ‘Rubik Mono One’, sans-serif;
}

/* nav */
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

nav ul {
    margin: 50px 50px;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav li {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    line-height: 3em;
    vertical-align: middle;
    margin: 0 30px;
    font-size: 25px;
    font-weight: 900;
}

/* - - - PAGE - - - */
section {
    height: 100vh;
    position: relative;
}

#page1 {
    background-color: red;
}

#page2 {
    background-color: green;
}

#page3 {
    background-color: yellow;
}

/* PRODUCT BOX */
.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.product img {
    width: 100%;
}

/* PRODUCT NAME */
.product h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 60px;
    font-variant-caps: all-small-caps;
}

#name1, #name2 {
    color: yellow;
}

#name3 {
    color: green;
}
